@media screen and (min-width: 992px){
    aside.cta-quote span.quote {
    font-size: 40px;
    line-height: 50px;
  }
    #videodroite {
    
}
.row.text-center .col-md-4 + .col-md-4 {
 margin-top: 0px;
}
    a#focus-springwave {
    font-size: 15px;
    padding: 15px 18px;
}
        .numbers {
        font-size: 60px;
    }
    h1.section-title {
     letter-spacing: .6em;   
    }
    nav img {
     width: 150px;   
    }
    .navbar-default li a {
    line-height: 50px;
    font-size: 16px;
    padding: 10px 15px;
}
}