@media screen and (max-width: 766px){
    #partenaires img {
    max-width: 130px;
}
    .navbar-nav>li {
        /* padding: 10px; */
    }
    .navbar-nav li.logo a:before {
     content: "Accueil";   
    }
    .navbar-nav li img {display: none;}
    
    .logo-mobile {
        padding: 10px;
        left: 50%;
        position: relative;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 150px;
        height: auto;
        margin-top: 17px;
    }
    .navbar-header button {
        margin-right: 30px;
        margin-top: 12px;
    }
    .navbar-fixed-top {
        top: inherit;
        bottom: 0;
    }
    .drapeaux {
}
.drapeaux img {
    height: auto;
    width: 32px;
    margin-top: 14px !important;
}
    .client-logo {
        margin-bottom: 24px;
        }

}
button.navbar-toggle.collapsed {
    margin-right: 40px;
}

#partenaires {
    background-color: #f5f5f5;
    padding-bottom: 30px;
    padding-top: 30px;
}
.dropdown-menu li a {
    color: black !important;
}

.dropdown-menu li {
    width: 100%;
}

a.dropdown-toggle[aria-expanded="true"] {
    color: #000 !important;
}
